/** fonts **/
@font-face {
  font-family: "Crimson Pro";
  src: url("/assets/font/CrimsonPro-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Crimson Pro";
  src: url("/assets/font/CrimsonPro-Italic.woff2") format("woff2");
  font-style: italic;
}
@font-face {
  font-family: "Crimson Pro";
  src: url("/assets/font/CrimsonPro-SemiBold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Crimson Pro";
  src: url("/assets/font/CrimsonPro-SemiBoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

/** theme variables **/
:root {
  --font--base: "Crimson Pro";
  --color--text: #0e0e0e;
  --breakpoint--mobile: "980px";
  font-size: 18px;
}

@media screen and (max-width: 980px) {
  :root {
    font-size: 14px;
  }
}

/** typography **/
html {
  background-color: var(--color--contrast)
}

body {
  background-color: white;
  font-family: var(--font--base), Arial;
  font-variant-ligatures: common-ligatures;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.02rem;
  line-height: 1.35;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 350ms ease-in-out;
}

body.loaded {
  opacity: 1;
}

a {
  color: var(--color--text);
  text-decoration: none;
  padding-bottom: 0.5rem;
  border-bottom: 3px double transparent;
  transition: color 250ms ease-in, border-color 300ms ease-in;
}

a:hover,
.contact a:hover {
  color: var(--color--contrast);
  border-color: var(--color--contrast);
}

/** layout **/
#container {
  max-width: 980px;
  margin: 2rem auto;
  padding: 0 2rem;
}

section {
  z-index: 0;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

section:nth-of-type(2) ul {
  display: contents;
  list-style-type: none;
}

section:nth-of-type(2) li {
  padding-bottom: 1.5rem;
}

/** contact **/
.contact a:hover {
  color: var(--color--contrast);
  border-color: var(--color--contrast);
}

.contact a  {
  font-weight: bold;
  font-style: italic;
  border-color: var(--color--text);
}

.contact a svg {
  position: relative;
  top: 1.25rem;
  left: -.25rem;
  transition: fill 250ms ease-out;
}

.contact a:hover svg {
  fill: var( --color--contrast );
}


/** missal any **/
.border {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}

.border div {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.border div img {
  display: inline-block;
  height: 100%;
  filter: contrast(1.3);
}

.border--top {
  justify-content: space-between;
  height: 5rem;
  margin-top: unset;
}

.border--top div:last-child img {
  transform: rotate(1.5deg);
}

.border--double img:nth-of-type(2) {
  transform: rotateY(180deg);
}

.border + .border--double div {
  height: 8rem;
}

.border--content {
  height: 5rem;
}

.border--double:last-of-type {
  height: 22rem;
  margin-bottom: unset;
}

@media screen and (max-width: 980px) {
  .border--top {
    justify-content: center;
  }

  .border--top div:nth-of-type(2),
  .border--double:last-of-type img:nth-of-type(2) {
    display: none;
  }
}