<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>
    {% include "border.html" class: "double" src: "/assets/img/stavchany-stone-idol.jpg" %}
    <div id="container">
        {% for card in collections.content %}
        <section>
        {{ card.content }}
        </section>
        {% include "border.html" class: "content" src: card.data.border_img %}
        {% endfor %}
        <section>
        {% include "contact.html" %}
        </section>
        </div>
    {% include "border.html" class: "double" src: "/assets/img/night.jpg" %}
</body>

<script>
window.onload = (event) => {
  document.querySelector('body').classList.add('loaded')
};
</script>
</html>